.footer {
  position: relative;
  width: 100%;
  bottom: 0;
  background-color: #f8f6f6;
  padding: 10px 0;
  text-align: center;
  background-color: #9f00de;
  background-image: linear-gradient(
    90deg,
    #a445b2 0%,
    #6a1b9a 50%,
    #4a148c 100%
  );
}
