<section id="hero">
  <div
    id="heroCarousel"
    class="carousel slide carousel-fade"
    data-bs-interval="3000"
    data-bs-ride="carousel"
  >
    <div class="carousel-inner" role="listbox">
      <div
        class="carousel-item active"
        style="
          background-image: url('https://cdn.donmai.us/original/94/6f/__kaisel_solo_leveling_drawn_by_kirt_victor__946fb26eb26a5539a6661c367834062a.jpg');
        "
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__backInUp">Bienvenido</h2>
            <p class="animate__animated animate__backInDown">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Adipisci
              omnis accusamus exercitationem dolores, nesciunt cupiditate
              aspernatur similique quae deleniti molestiae ipsum cumque
              asperiores tempora ipsa rerum at esse ut suscipit! Lorem ipsum
              dolor sit amet consectetur adipisicing elit. Suscipit, dolore
              accusamus, atque reiciendis natus doloribus est, ducimus unde
              vitae possimus at nisi fugiat libero voluptates repellat
              laudantium mollitia ipsum explicabo.
            </p>
            <button
              class="animate__animated animate__fadeInLeft"
              mat-flat-button
              color="dark"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
      <div
        class="carousel-item"
        style="
          background-image: url('https://cdn.donmai.us/original/ef/95/__black_swan_honkai_and_2_more_drawn_by_celtreny__ef9569bfcf833677b4bb1e265cb9e350.jpg');
        "
      >
        <div class="carousel-container">
          <div class="container">
            <h2 class="animate__animated animate__backInUp">Compra en Línea</h2>
            <p class="animate__animated animate__backInDown">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Error
              excepturi eum autem nihil, aperiam iusto magni rem odit enim alias
              ipsum molestias rerum consectetur placeat ea quos eligendi
              repellat? Voluptatem! Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Saepe nam ipsa quod ab sequi! Rem officia
              dignissimos vitae, maxime at nulla corrupti distinctio, veritatis
              nobis explicabo asperiores! Sed, incidunt deserunt.
            </p>
            <button
              class="animate__animated animate__fadeInLeft"
              mat-flat-button
              class="dark-purple"
            >
              Ver más
            </button>
          </div>
        </div>
      </div>
    </div>
    <a
      href="#heroCarousel"
      class="carousel-control-prev"
      role="button"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon bi bi-chevron-left"></span>
    </a>
    <a
      href="#heroCarousel"
      class="carousel-control-next"
      role="button"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon bi bi-chevron-right"></span>
    </a>
  </div>
</section>

<div class="container p-5">
  <div class="row">
    <div class="col-lg-6">
      <h3>Parrafo 1</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus tempora
        consequuntur dolorem voluptatibus et ducimus? Consectetur, qui ipsum
        esse eius sit autem pariatur non impedit totam tenetur doloribus ipsam
        blanditiis! Lorem ipsum dolor sit, amet consectetur adipisicing elit. At
        tempore dolore rem ut consequuntur provident, minima quam eos laboriosam
        quod placeat incidunt vitae officia debitis repellat atque iure labore
        reprehenderit.
      </p>
    </div>
    <div class="col-lg-6">
      <h3>Parrafo 2</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam qui
        voluptatem molestias illum obcaecati quae earum doloribus sint.
        Consequuntur architecto aliquid veniam tempora deserunt adipisci
        assumenda eum harum molestias iure? Lorem ipsum dolor sit amet
        consectetur adipisicing elit. In ipsa quae, id dolor accusantium
        voluptatem neque sed aut obcaecati animi repellat eaque saepe doloribus
        architecto odit quasi, nostrum, numquam nam?
      </p>
    </div>
  </div>
</div>
